name: daka Action

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  # push:
  #   branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 12 * * *'  # utc+8 20:00 这里
    - cron: '0 22 * * *'  # utc+8 6:00 这里
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: 'Set up Python'
        uses: actions/setup-python@v1
        with:
           python-version: 3.7
           
      - name: 'Install requirements'
        run: python -m pip install --upgrade requests lxml bs4 PyEmail pytz
        
      - name: 'run daka'
        run: python ./daka_unloop_public.py ${{ secrets.FROMMAIL }}  ${{ secrets.MAILPASS }}  ${{ secrets.MSG }}
